<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>@ViewData["Title"] - WebApp</title>
   @await Html.PartialAsync("_HeaderPartial") 
    <link reel="stylesheet" href="_HeaderTemplate">
</head>
<body>

    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a id="len1" class="hoverable" href="#">Administración de servicios</a></li>
                    <li><a id="len2" class="hoverable" asp-page="">About</a></li>
                    <li><a id="len3" class="hoverable" asp-page="">Servicios</a></li>
                    <li><a id="len4" class="hoverable" asp-page="">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div id="what-the-hell-is-this">

        </div>
    </div>
    @RenderBody()
    <footer>
        <p>&copy; @DateTime.Now.Year - Ing. Karlo G., Mainor A.</p>
    </footer>

    @await Html.PartialAsync("_ScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
